/*********************
BREAKPOINTS
*********************/
/* line 91, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/libraries/sass-vertical-rhythm/sass/_sass-vertical-rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em; }

@font-face {
  font-family: "montserrat black";
  font-style: normal;
  font-weight: eot svg ttf woff woff2;
  src: url("../fonts/montserrat-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-black-webfont.woff2") format("woff2"), url("../fonts/montserrat-black-webfont.woff") format("woff"), url("../fonts/montserrat-black-webfont.ttf") format("truetype"), url("../fonts/montserrat-black-webfont.svg#montserrat black") format("svg"); }

@font-face {
  font-family: "montserrat bold";
  font-style: normal;
  font-weight: eot svg ttf woff woff2;
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserrat bold") format("svg"); }

@font-face {
  font-family: "montserrat extrabold";
  font-style: normal;
  font-weight: eot svg ttf woff woff2;
  src: url("../fonts/montserrat-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabold-webfont.woff") format("woff"), url("../fonts/montserrat-extrabold-webfont.ttf") format("truetype"), url("../fonts/montserrat-extrabold-webfont.svg#montserrat extrabold") format("svg"); }

@font-face {
  font-family: "montserrat harline";
  font-style: normal;
  font-weight: eot svg ttf woff woff2;
  src: url("../fonts/montserrat-harline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-harline-webfont.woff2") format("woff2"), url("../fonts/montserrat-harline-webfont.woff") format("woff"), url("../fonts/montserrat-harline-webfont.ttf") format("truetype"), url("../fonts/montserrat-harline-webfont.svg#montserrat harline") format("svg"); }

@font-face {
  font-family: "montserrat light";
  font-style: normal;
  font-weight: eot svg ttf woff woff2;
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#montserrat light") format("svg"); }

@font-face {
  font-family: "montserrat regular";
  font-style: normal;
  font-weight: eot svg ttf woff woff2;
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserrat regular") format("svg"); }

@font-face {
  font-family: "montserrat semibold";
  font-style: normal;
  font-weight: eot svg ttf woff woff2;
  src: url("../fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff"), url("../fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("../fonts/montserrat-semibold-webfont.svg#montserrat semibold") format("svg"); }

@font-face {
  font-family: "montserrat ultralight";
  font-style: normal;
  font-weight: eot svg ttf woff woff2;
  src: url("../fonts/montserrat-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-ultralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-ultralight-webfont.woff") format("woff"), url("../fonts/montserrat-ultralight-webfont.ttf") format("truetype"), url("../fonts/montserrat-ultralight-webfont.svg#montserrat ultralight") format("svg"); }

/* line 16, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
body {
  margin: 0; }
  /* line 18, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* line 22, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
.l-page {
  margin-top: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "montserrat regular", arial, helvetica, sans-serif;
  color: #404040; }
  /* line 31, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page h1, .l-page h2, .l-page h3, .l-page h4, .l-page h5, .l-page h6 {
    color: #00703c; }
  /* line 34, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0.75rem;
    font-family: "montserrat ultralight", arial, helvetica, sans-serif; }
  /* line 39, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    padding-top: 1.05rem;
    padding-bottom: 0rem;
    margin-bottom: 0.675rem;
    border-top-width: 0.0625rem;
    border-top-style: dotted;
    padding-top: 1.4375rem;
    font-family: "montserrat light", arial, helvetica, sans-serif; }
  /* line 45, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page h3 {
    font-size: 1.4rem;
    line-height: 3rem;
    margin-top: 0.75rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0.45rem;
    font-family: "montserrat regular", arial, helvetica, sans-serif; }
  /* line 50, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page h4 {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0.45rem;
    font-family: "montserrat semibold", arial, helvetica, sans-serif; }
  /* line 55, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page h5 {
    font-size: 0.85rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0.75rem;
    font-family: "montserrat semibold", arial, helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  /* line 62, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page h6 {
    font-size: 0.85rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0.75rem;
    font-family: "montserrat regular", arial, helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  /* line 69, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page em {
    font-style: italic; }
  /* line 72, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page strong {
    font-family: "montserrat semibold", arial, helvetica, sans-serif; }
  /* line 75, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page blockquote {
    padding-right: 1.4em;
    padding-left: 1.4em; }
  /* line 80, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page p, .l-page ul, .l-page ol {
    line-height: 1.8rem;
    font-family: "montserrat light", arial, helvetica, sans-serif;
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 1.35rem;
    color: #404040; }
  /* line 86, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page ul {
    padding-left: 1.2em; }
  /* line 89, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page ol {
    padding-left: 1.4em; }
  /* line 92, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page ul li {
    color: #c84d54;
    list-style: square;
    padding-left: 0.2em; }
  /* line 97, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page ol li {
    list-style: decimal; }
  /* line 101, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page p + ul,
  .l-page p + ol {
    margin-top: -0.9em; }

/* line 112, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
.l-page .l-main a, .l-header .top-link a, .l-footer a {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }
  /* line 114, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page .l-main a:link, .l-header .top-link a:link, .l-footer a:link, .l-page .l-main a:visited, .l-header .top-link a:visited, .l-footer a:visited {
    border-bottom-width: 0.0625rem;
    border-bottom-style: dotted;
    padding-bottom: 1.4375rem;
    color: #4080b0;
    padding-bottom: 1px;
    text-decoration: none; }
  /* line 121, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page .l-main a:hover, .l-header .top-link a:hover, .l-footer a:hover {
    color: #005696;
    border-bottom-color: #4080b0;
    border-bottom-style: solid; }
  /* line 126, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/base/_typography.scss */
  .l-page .l-main a:active, .l-header .top-link a:active, .l-footer a:active {
    color: #c84d54;
    border-bottom: 1px solid #da888d; }

/* line 3, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
.l-header {
  padding-top: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem; }
  /* line 6, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
  .l-header .top-link {
    text-align: right;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto; }
    /* line 9, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
    .l-header .top-link a {
      color: #4080b0;
      text-decoration: none; }

/* line 18, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
.l-branding .logo {
  width: 18.75rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto; }
  /* line 21, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
  .l-branding .logo a {
    border-bottom: none;
    display: block;
    line-height: 0; }

/* line 27, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
.l-branding .l-utilities {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 1rem 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: #404040;
  border-bottom: 9px solid #b5121b; }
  /* line 20, /Applications/CodeKit.app/Contents/Resources/engines/bourbon/addons/_clearfix.scss */
  .l-branding .l-utilities::after {
    clear: both;
    content: "";
    display: table; }

@media (min-width: 768px) {
  /* line 43, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
  .l-branding .l-utilities {
    border-bottom-width: 6px;
    display: block;
    padding: 0 0.5rem; } }

@media (min-width: 1200px) {
  /* line 52, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
  .l-branding {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end; }
    /* line 55, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
    .l-branding .logo {
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0;
      -moz-flex: 0;
      -ms-flex: 0;
      flex: 0;
      margin: 0 0.6875rem 0 0;
      min-width: 9.375rem; }
    /* line 60, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_header.scss */
    .l-branding .l-utilities {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0;
      padding: 0 0.9375rem;
      border-bottom-width: 5px;
      height: 4.875rem; } }

/* line 3, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
.main-menu {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0;
  margin-right: 0.5rem;
  width: 3rem; }
  /* line 10, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  .main-menu .menu > .menuparent > a:after {
    content: '\a0\025BE'; }
  /* line 14, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  .main-menu .menu > .menuparent .menuparent > a:after {
    content: '\a0\025B8'; }
  /* line 19, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  .main-menu .menu li {
    list-style: none;
    padding: 0; }
    /* line 22, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
    .main-menu .menu li ul {
      padding: 0;
      box-shadow: 0px 1px 9px 1px #000000; }
      /* line 25, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
      .main-menu .menu li ul li a {
        border-radius: 0;
        text-align: left; }
    /* line 30, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
    .main-menu .menu li a {
      border-bottom-left-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;
      border-top-left-radius: 0.125rem;
      border-top-right-radius: 0.125rem;
      padding: 0.2rem 0.5rem;
      background-color: #404040;
      border-bottom: none;
      color: #ededed;
      text-align: center;
      text-decoration: none;
      width: 100%; }
      /* line 40, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
      .main-menu .menu li a:hover {
        background-color: #4080b0; }
  /* line 46, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  .main-menu .menu-line {
    margin: 0 0 0.4375rem;
    background: #ededed;
    border-radius: 2px;
    height: 0.1875rem;
    width: 2rem; }
    /* line 52, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
    .main-menu .menu-line.last {
      margin-bottom: 0; }
  /* line 56, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  .main-menu .menu-button {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    padding: 0.5rem;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem; }
    /* line 61, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
    .main-menu .menu-button:hover, .main-menu .menu-button:active {
      background-color: #7f7f7f; }
    /* line 65, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
    .sidr-open .main-menu .menu-button {
      background-color: #7f7f7f; }

/* line 71, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
#sidr-0 ul {
  margin: 0;
  border: none; }

/* line 75, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
#sidr-0 li {
  list-style: none; }
  /* line 78, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  #sidr-0 li.sidr-class-sf-depth-1 > a {
    padding: 0.2rem 0 0.2rem 1rem; }
  /* line 83, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  #sidr-0 li.sidr-class-sf-depth-2 > a {
    padding: 0 0 0 2rem; }
  /* line 88, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  #sidr-0 li.sidr-class-sf-depth-3 > a {
    padding: 0 0 0 3rem; }

/* line 93, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
#sidr-0 a {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 2.25rem;
  font-family: "montserrat light", arial, helvetica, sans-serif;
  color: #ededed;
  text-decoration: none; }
  /* line 100, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  #sidr-0 a:hover {
    text-decoration: underline;
    background: none;
    box-shadow: none; }

/* line 106, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
#sidr-0 ul li {
  display: block;
  line-height: auto;
  border: none; }
  /* line 110, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  #sidr-0 ul li:hover {
    background: none; }
    /* line 112, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
    #sidr-0 ul li:hover a {
      box-shadow: none; }

@media (min-width: 768px) {
  /* line 121, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  .main-menu {
    width: 100%;
    margin: 0; }
    /* line 20, /Applications/CodeKit.app/Contents/Resources/engines/bourbon/addons/_clearfix.scss */
    .main-menu::after {
      clear: both;
      content: "";
      display: table; }
    /* line 125, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
    .main-menu #sidr-wrapper-0 {
      display: none !important;
      visibility: hidden; }
    /* line 129, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
    .main-menu #superfish-1 {
      display: flex !important;
      -webkit-box-lines: single;
      -moz-box-lines: single;
      box-lines: single;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      padding: 0.5rem 0;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute;
      margin-top: 3px; } }

@media (min-width: 1200px) {
  /* line 141, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_menu.scss */
  .main-menu {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    box-flex: 4;
    -webkit-flex: 4;
    -moz-flex: 4;
    -ms-flex: 4;
    flex: 4; } }

/* line 3, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
.search {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  /* line 6, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
  .search .container-inline {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  /* line 9, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
  .search .form-type-searchfield {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0; }
    /* line 12, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
    .search .form-type-searchfield .form-search {
      font-size: 1rem;
      line-height: 1.5rem;
      border-bottom-left-radius: 0.125rem;
      border-top-left-radius: 0.125rem;
      padding: 0.5rem;
      font-family: "montserrat light", arial, helvetica, sans-serif;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background: #ededed;
      border: none;
      color: #404040;
      vertical-align: middle;
      width: 100%; }
      /* line 4, /Applications/CodeKit.app/Contents/Resources/engines/bourbon/css3/_placeholder.scss */
      .search .form-type-searchfield .form-search::-webkit-input-placeholder {
        color: #7f7f7f;
        font-family: "montserrat light", arial, helvetica, sans-serif; }
      /* line 4, /Applications/CodeKit.app/Contents/Resources/engines/bourbon/css3/_placeholder.scss */
      .search .form-type-searchfield .form-search::-moz-placeholder {
        color: #7f7f7f;
        font-family: "montserrat light", arial, helvetica, sans-serif; }
      /* line 4, /Applications/CodeKit.app/Contents/Resources/engines/bourbon/css3/_placeholder.scss */
      .search .form-type-searchfield .form-search:-moz-placeholder {
        color: #7f7f7f;
        font-family: "montserrat light", arial, helvetica, sans-serif; }
      /* line 4, /Applications/CodeKit.app/Contents/Resources/engines/bourbon/css3/_placeholder.scss */
      .search .form-type-searchfield .form-search:-ms-input-placeholder {
        color: #7f7f7f;
        font-family: "montserrat light", arial, helvetica, sans-serif; }
  /* line 30, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
  .search .form-actions {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0; }
    /* line 32, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
    .search .form-actions .form-submit {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0.5rem;
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;
      background-color: #4080b0;
      border-bottom-right-radius: 0.125rem;
      border-top-right-radius: 0.125rem;
      font-family: "montserrat light", arial, helvetica, sans-serif;
      border: none;
      color: #ededed;
      cursor: pointer;
      text-align: center;
      text-decoration: none; }
      /* line 44, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
      .search .form-actions .form-submit:hover {
        color: #000000;
        background-color: #7faaca; }
      /* line 48, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
      .search .form-actions .form-submit:active {
        color: #ededed;
        background-color: #da888d; }
  /* line 54, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
  .search label {
    display: none; }
  /* line 57, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
  .search h2 {
    display: none; }

@media (min-width: 768px) {
  /* line 65, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
  .search {
    width: 100%;
    display: block;
    margin: 0 0 0.5rem; } }

@media (min-width: 1200px) {
  /* line 73, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_search.scss */
  .search {
    margin: 0; } }

/* line 3, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_footer.scss */
.l-footer {
  background: #dedede;
  padding: 0.5rem;
  text-align: center; }
  /* line 11, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_footer.scss */
  .l-footer .copyright p {
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem; }
  /* line 15, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_footer.scss */
  .l-footer .footer-text {
    text-align: center; }
  /* line 18, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_footer.scss */
  .l-footer .footer-menu {
    margin-bottom: 1rem; }
    /* line 20, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_footer.scss */
    .l-footer .footer-menu .menu {
      -webkit-box-align: stretch;
      -moz-box-align: stretch;
      box-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      align-items: stretch;
      -ms-flex-align: stretch;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    /* line 27, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_footer.scss */
    .l-footer .footer-menu ul, .l-footer .footer-menu li {
      list-style: none;
      padding: 0;
      margin: 0; }
    /* line 32, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_footer.scss */
    .l-footer .footer-menu li {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      margin: 0.2rem 0.5rem; }

/* line 3, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_main.scss */
.l-main {
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem; }

/* line 3, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_page.scss */
.l-page {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, /Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/output/support/_clearfix.scss */
  .l-page:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 768px) {
  /* line 5, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_home.scss */
  .front .left-column {
    width: 57.6271186441%;
    float: left;
    margin-right: 1.6949152542%; }
  /* line 8, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_home.scss */
  .front .right-column {
    width: 40.6779661017%;
    float: right;
    margin-right: 0; }
    /* line 10, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_home.scss */
    .front .right-column h2 {
      border-top: none;
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      margin-bottom: 0.675rem; }
    /* line 14, /Users/Jesse/Sites/devdesktop/nathers/docroot/sites/all/themes/custom/nathers_2016/sass/components/_home.scss */
    .front .right-column .pane-news-news-home-page {
      background-color: #edf3f8;
      border-top-left-radius: 0.125rem;
      border-top-right-radius: 0.125rem;
      border-bottom-left-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;
      padding: 2rem; } }

/* line 20, /Applications/CodeKit.app/Contents/Resources/engines/bourbon/addons/_clearfix.scss */
.l-content::after {
  clear: both;
  content: "";
  display: table; }
