// Home page

.front {
	.right-column {
		/* h2 {
			border-top: none;
		} */
		.pane-news-news-home-page {
			@extend %blue-box;
		}
		.pane-links-links-home-page {
			.view-content{
				ul {
					@include padding(0);
					@include margin(0);
					@include display(flex);
					@include flex-wrap(wrap);
					@include align-content(stretch);
					li {
						@include margin(0 0.5rem 0.5rem 0);
						@include padding(0);
						list-style: none;
						text-indent: 0;
						width: 100%;
					}
				}
				a {
					@include button(flat, color(blue, three-quarter));
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

@include breakpoint(tablet) {
	.front {
		.left-column {
			@include span(first $tab-cols / $tab-cols * 7 of $tab-cols);
		}
		.right-column {
			@include span(last $tab-cols / $tab-cols * 5 of $tab-cols);
		}
	}
}

@include breakpoint(desktop) {
	.front {
		.right-column {
			.pane-links-links-home-page .view-content {
				ul {
					li {
						width: auto;
					}
				}
				a {
					width: auto;
				}
			}
		}
	}
}