// Home page

.front {
	.right-column {
		h2 {
			border-top: none;
			@include rhythm(0,0,0,0.45);
		}
		.pane-news-news-home-page {
			background-color: color(blue, sixteenth);
			@include border-top-radius(rem(2px));
			@include border-bottom-radius(rem(2px));
			@include padding(2rem);
		}
		.pane-links-links-home-page {
			h2 {
				@include rhythm(1,0.7,0,0.45);
			}
			.view-content{
				ul {
					@include padding(0);
					@include margin(0);
					@include display(flex);
					@include flex-wrap(wrap);
					@include align-content(stretch);
					li {
						@include margin(null 0.5rem null null);
						@include padding(0);
						text-indent: 0;
						width: 100%;
						&:before {
							content: "";
						}
					}
				}
				a {
					@include button(flat, color(blue, three-quarter));
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

@include breakpoint(tablet) {
	.front {
		.left-column {
			@include span(first $tab-cols / $tab-cols * 7 of $tab-cols);
		}
		.right-column {
			@include span(last $tab-cols / $tab-cols * 5 of $tab-cols);
		}
	}
}

@include breakpoint(desktop) {
	.front {
		.right-column {
			.pane-links-links-home-page .view-content {
				ul {
					li {
						width: auto;
					}
				}
				a {
					width: auto;
				}
			}
		}
	}
}