// Menu

.main-menu {
	//@include span(first $mob-cols / $mob-cols * 1 of $mob-cols);
	@include flex(0);
	@include margin(null 0.5rem null null);
	width: 3rem;
	.menu {
		> .menuparent {
			> a:after {
				content: '\a0\025BE';
			}
			.menuparent {
				> a:after {
					content: '\a0\025B8';
				}
			}
		}
		li {
			list-style: none;
			@include padding(0);
			ul {
				@include padding(0);
				box-shadow: 0px 1px 9px 1px color(grey);
				li a {
					border-radius: 0;
					text-align: left;
				}
			}
			a {
				@include border-bottom-radius(rem(2px));
				@include border-top-radius(rem(2px));
				@include padding(0.2rem 0.5rem);
				background-color: color(grey, three-quarter);
				border-bottom: none;
				color: color(grey, sixteenth);
				text-align: center;
				text-decoration: none;
				width: 100%;
				&:hover {
					background-color: color(blue, three-quarter);
				}
			}
		}
	}
	.menu-line {
		@include margin(0 0 rem(7px) 0);
		background: color(grey, sixteenth);
		border-radius: 2px;
		height: rem(3px);
		width: 2rem;
		&.last {
			@include margin(null null 0 null);
		}
	}
	.menu-button {
		@include transition(all 0.1s ease-in);
		@include padding(0.5rem);
		@include border-top-radius(rem(2px));
		@include border-bottom-radius(rem(2px));
		&:hover,
		&:active {
			background-color: color(grey, half);
		}
		.sidr-open & {
			background-color: color(grey, half);
		}
	}
}
#sidr-0 {
	ul {
		@include margin(0);
		border: none;
	}
	li {
		list-style: none;
		&.sidr-class-sf-depth-1 {
			> a {
				@include padding(0.2rem 0 0.2rem 1rem);
			}
		}
		&.sidr-class-sf-depth-2 {
			> a {
				@include padding(0 0 0 2rem);
			}
		}
		&.sidr-class-sf-depth-3 {
			> a {
				@include padding(0 0 0 3rem);
			}
		}
	}
	a {
		@include margin(0 0 0 0);
		@include adjust-font-size-to($base-font-size);
		@include adjust-leading-to(1.5);
		@include weight(light);
		color: color(grey, sixteenth);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			background: none;
			box-shadow: none;
		}
	}
	ul li {
		display: block;
		line-height: auto;
		border: none;
		&:hover {
			background: none;
			a {
				box-shadow: none;
			}
		}
	}
}
	// Turn off links that aren't in the active trail.
.menu-block-wrapper {
	// First level
	> .menu {
		@include padding(0);
		> li {
			list-style: none;
			display: none;
			visibility: hidden;
			&.active-trail {
				display: block;
				visibility: visible;
			}
			> a:link {
				@include adjust-font-size-to(19.2px);
				@include padding(rem(28.8px) 0 rem(15.36px) 0);
				@include weight(semibold);
				color: color(green);
				border-bottom: none;
				line-height: rem(23.04px);
				display: block;
			}
			.menu {
				li {
					@include padding(rem(8px) 0);
					border-top: 1px dotted color(grey, eighth);
					a:link {
						@include adjust-font-size-to(16px);
						@include padding(0 rem(8px));
						@include weight(regular);
						&.active-trail {
							color: color(blue, three-quarter);
						}
						display: block;
						border: none;
						line-height: rem(19.2px);
					}
				}
			}
		}
		.menu {
			@include padding(0);
			li {
				list-style: none;
				a:link {
					@include weight(semibold);
					@include adjust-font-size-to(19.2px);
				}
			}
		}
	}
} 


// Responsiveness 
@include breakpoint(tablet) {
	.main-menu {
		width: 100%;
		@include margin(0);
		@include clearfix;
		#sidr-wrapper-0 {
			@include display(none !important);
			visibility: hidden;
		}
		#superfish-1 {
			@include display(flex !important);
			@include flex-wrap(nowrap);
			@include align-items(center);
			@include padding(0.5rem 0);
			@include justify-content(space-around);
			@include margin(3px null null null);
		}

	}
}
@include breakpoint(desktop) {
	.main-menu {
		@include flex(4);
	}
}