// Publications

.page-publications {
	.publication-item {
		@extend %blue-box;
		background-color: color(grey, sixteenth); 
	}
	h2 + img {
		display: none;
	}
	span.file-icon {
		@include adjust-font-size-to(12.8px);
		line-height: rem(25.6px);
		&.txt {
			background: url('../images/text-plain.png') no-repeat left center;
			@include padding(rem(2px) 0 rem(2px) rem(16px));
		}
		&.doc,
		&.docx {
			background: url('../images/x-office-document.png') no-repeat left center;
			@include padding(rem(2px) 0 rem(2px) rem(16px));
		}
		&.pdf {
			background: url('../images/application-pdf.png') no-repeat left center;
			@include padding(rem(2px) 0 rem(2px) rem(16px));
		}
	}
}


.l-page .view-publications .buttons li a:link {

	background-color: #dee9f1;
	color:#005696;
}

.l-page .view-publications a[href$=".pdf"] {
     background: none;
    padding-left: 0px;}

// Responsiveness

@include breakpoint(tablet) {
	.page-publications {
		h2 + img {
			display: block;
			float: right;
			@include margin(0 0 1rem 1rem);
		}
	}
}
@include breakpoint(desktop) {
	.page-publications {
		.view-content {
			@include display(flex);
			@include flex-wrap(wrap);
			@include justify-content(space-around);
		}
		.publication-item {
			@include flex (0 45%);
			@include margin(0.5rem);
		}
	}
}
