// Search
.search-form {
	@include margin($vert-spacing-unit null);
	fieldset {
		@include margin($vert-spacing-unit null);
		label {
			display: inline !important;
		}
	}
	.form-submit {
		@include border-left-radius(0);
	}
}
.search,
.search-form {
	@include flex(1);
	.container-inline {
		@include display(flex);
	}
	.form-type-searchfield {
		@include flex(1);
		@include margin(0);
		.form-search {
			@include adjust-font-size-to(1rem);
			@include border-left-radius(rem(2px));
			@include padding(0.5rem);
			@include weight(light);
			@include flex(1);
			background: color(grey, sixteenth);
			border: none;
			color: color(grey, three-quarter);
			vertical-align: middle;
			width: 100%;
			@include placeholder {
				color: color(grey, half);
				@include weight(light);
			}
		}
	}
	
	.form-actions {
		@include flex(0);
		.form-submit {
			@include adjust-font-size-to(1rem);
			@include padding (0.5rem);
			@include transition(all 0.1s ease-in);
			background-color: color(blue, three-quarter);
			@include border-right-radius(rem(2px));
			@include border-left-radius(0);
			@include weight(light);
			border:none;
			color: color(grey, sixteenth);
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			&:hover {
				color: color(grey);
				background-color: color(blue, half);
			}
			&:active {
				color: color(grey, sixteenth);
				background-color: color(red, half);
			}
		}
	}
	label {
		display:none;
	}
	h2 {
		display: none;
	}
}

// Responsiveness

@include breakpoint(tablet) {
	.search {
		width: 100%;
		@include display(block);
		@include margin(0 0 0.5rem 0);
	}
}

@include breakpoint(desktop) {
	.search {
		@include margin(0);
	}
}
