// Typography

$file-formats: eot svg ttf woff woff2;
$font-weights: black bold extrabold harline light regular semibold ultralight;
$font-stack: 'montserrat regular', arial, helvetica, sans-serif;
$rhythm-unit: 'rem';

@include establish-baseline($base-font-size);
@each $font-weight in $font-weights {
	@include font-face("montserrat #{$font-weight}", "../fonts/montserrat-#{$font-weight}-webfont", $file-formats);
}

@mixin weight($weight) {
	font-family: 'montserrat #{$weight}', arial, helvetica, sans-serif;
}
body {
	@include margin(0);
	* {
		@include box-sizing(border-box);
	}
}
.l-page {
	@include rhythm(0,0,0,0);
	@include adjust-font-size-to($base-font-size);
	font-family: $font-stack;
	color: color(grey, three-quarter);


	// Headings

	h1, h2, h3, h4, h5, h6 {
		color: color(green);
	}
	h1	{
		@include adjust-font-size-to($base-font-size * 2.5);
		@include rhythm(0,0,0,0.5);
		@include weight(ultralight);
	}
	h2	{
		@include adjust-font-size-to($base-font-size * 2);
		@include rhythm(1,0.7,0,0.45);
		@include leading-border(1px, 1, $base-font-size, dotted);
		@include weight(light);
	}
	h3	{
		@include adjust-font-size-to($base-font-size * 1.4);
		@include rhythm(0.5,0,0,0.3);
		@include weight(regular);
	}
	h4	{
		@include adjust-font-size-to($base-font-size * 1.1);
		@include rhythm(0.5,0,0,0.3);
		@include weight(semibold);
	}
	h5	{
		@include adjust-font-size-to($base-font-size * 0.85);
		@include rhythm(0.5,0,0,0.5);
		@include weight(semibold);
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	h6	{
		@include adjust-font-size-to($base-font-size * 0.85);
		@include rhythm(0.5,0,0,0.5);
		@include weight(regular);
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	em {
		font-style: italic;
	}
	strong {
		@include weight(semibold);
	}
	blockquote {
		padding-right: 1.4em;
		padding-left: 1.4em;
	}

	p, ul, ol {
		@include adjust-leading-to(1.2);
		@include weight(light);
		@include rhythm(0,0,0,0.9);
		color: color(grey, three-quarter);
	}
	ul {
		padding-left: 1.2em;
	}
	ol {
		padding-left: 1.4em;
	}
	ul li {
		color: #c84d54;
		list-style: square;
		padding-left: 0.2em;
	}
	ol li {
		list-style: decimal;	
	}

	p+ul, 
	p+ol {
		margin-top: -0.9em;
	}
	.l-main {
		a {
			@extend %base-link;
		}
	}
}

%base-link {
	@include transition(all 0.1s ease-in);
	&:link,
	&:visited {
		@include trailing-border (1px, 1, $base-font-size, dotted);
		color: color(blue, three-quarter);
		padding-bottom: 1px;
		text-decoration: none;
	}
	&:hover {
		color: color(blue);
		border-bottom-color: color(blue, three-quarter);
		border-bottom-style: solid;
	}
	&:active {
		color: color(red, three-quarter);
		border-bottom: 1px solid color(red, half);
	}
}
