// Typography

$file-formats: eot svg ttf woff woff2;
$font-weights: black bold extrabold harline light regular semibold ultralight;
$font-stack: 'montserrat regular', arial, helvetica, sans-serif;
$rhythm-unit: 'rem';

@each $font-weight in $font-weights {
	@include font-face("montserrat #{$font-weight}", "../fonts/montserrat-#{$font-weight}-webfont", $file-formats);
}

@mixin weight($weight) {
	font-family: 'montserrat #{$weight}', arial, helvetica, sans-serif;
}
body {
	@include margin(0);
	* {
		@include box-sizing(border-box);
	}
}
.l-page {
	font-family: $font-stack;
	color: color(grey, three-quarter);

	// Headings

	h1, h2, h3, h4, h5, h6 {
		color: color(green);
		font-weight: normal;
	}
	h1	{
		@include adjust-font-size-to(48px);
		@include adjust-leading-to(2.0);
		@include padding(0 0 rem(24px) 0);
		@include weight(ultralight);
		@include margin(0);
	}
	h2	{
		@include adjust-font-size-to(32px);
		@include adjust-leading-to(1.6);
		@include margin(rem(22.4px) 0 0 0);
		@include padding(rem(32px) 0 rem(14.4px) 0);
		@include weight(light);
		border-top: 1px dotted color(green);
		.front & {
			border: none;
		}
	}
	h3	{
		@include adjust-font-size-to(22.4px);
		@include padding(rem(11.2px) 0 rem(6.72px) 0);
		@include margin(0);
		@include adjust-leading-to(1.12);
		@include weight(regular);
	}
	h4	{
		@include adjust-font-size-to(17.6px);
		@include margin(0);
		@include padding(rem(8.8px) 0 rem(5.28px) 0);
		@include weight(semibold);
		line-height: rem(22.88px);
	}
	h5	{
		@include adjust-font-size-to(13.6px);
		@include margin(0);
		@include padding(rem(6.8px) 0);
		@include weight(semibold);
		line-height: rem(19.72px);
		text-transform: uppercase;
		letter-spacing: rem(1.36px);
	}
	h6	{
		@include adjust-font-size-to(13.6px);
		@include margin(0);
		@include padding(rem(6.8px) 0);
		@include weight(regular);
		line-height: rem(19.04px);
		text-transform: uppercase;
		letter-spacing: rem(1.36px);
	}
	em {
		font-style: italic;
	}
	strong {
		@include weight(semibold);
	}
	blockquote {
		padding-right: 1.4em;
		padding-left: 1.4em;
	}

	p, ul, ol {
		@include margin(0);
		@include padding(0 0 rem(14.4px) 0);
		@include weight(light);
		color: color(grey, three-quarter);
		line-height: rem(25.6px);
	}
	ul {
		@include padding(0 0 rem(14.4px) rem(19.2px));
	}
	ol {
		@include padding(0 0 rem(14.4px) rem(22.4px));
		@include margin(0);
	}
	ul li {
		list-style-image: url('../images/bullet.png');
		padding-left: rem(3.2px);
	}
	ol li {
		list-style: decimal;	
	}

	p + ul, 
	p + ol {
		@include margin(rem(-14.4px) null null null);
	}
	.l-main {
		a {
			@extend %base-link;
		}
	}
	blockquote {
		line-height: rem(16px);
		@include padding(0 rem(22.4px));
		@include margin(0);
	}
}

.form-submit {
	@include button(flat, color(blue, three-quarter));
}
.l-page .buttons {
	@include margin(0);
	@include padding(0);
	li {
		list-style: none;
		@include margin(null null 0.5rem null);
		@include padding(0);
		a:link {
			@include button(flat, color(blue, three-quarter));
			color: color(grey, sixteenth);
			border: none;
		}
	}
}

%base-link {
	@include transition(all 0.1s ease-in);
	&:link,
	&:visited {
		@include padding(null null rem(1px) null);
		@include weight(regular);
		border-bottom: 1px dotted color(grey, eighth);
		color: color(blue, full);
		text-decoration: none;
	}
	&:hover {
		color: color(blue);
		border-bottom: 1px solid color(blue, three-quarter);
	}
	&:active {
		color: color(red, three-quarter);
		border-bottom-color: color(red, half);
	}
	&[href$=".pdf"] {
		background: url('../images/application-pdf.png') no-repeat left center;
		@include padding (null null null rem(24px));
	}
	&[href$=".docx"],
	&[href$=".doc"] {
		background: url('../images/x-office-document.png') no-repeat left center;
		@include padding (null null null rem(24px));
	}
	span.ext {
		background: url('../images/icon-externallink.png') no-repeat center;
	}
}

%base-caption {
	@include adjust-font-size-to(12.8px);
	@include padding(rem(6.4px) 0 0 0);
	@include weight(regular);
	color: color(grey, half);
	line-height: rem(16.64px);
}
